@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;600;700;800&display=swap');

/* resets  */


* {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

:root {
    --primary-text-color: #534C64;
    --secondary-text-color: #0B0223;
    --nav-text-color: #3C354F;
    /* --padding-inline-section: 20px; */
}

h1 {
    font-size: 5.94rem;
    font-weight: 800;
}

h2 {
    font-size: 3rem;
    font-weight: 600;
}

h3 {
    font-size: 2.81rem;
    font-weight: 700;
}

h4 {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

p {
    font-size: 1.13rem;
    font-weight: 400;
    margin: 25px 0px;
    color: var(--primary-text-color);
}

a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.13rem;
    color: var(--primary-text-color);
}


/* utility classes */


.container {
    max-width: 1440px;
    margin-inline: auto;
    padding-inline: var(--padding-inline-section);
}

.gradient-txt {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.flex {
    display: flex;
}

.btn-primary {
    padding: 20px 40px;
    margin: 50px 0px;
    border-radius: 48px;
    text-transform: uppercase;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #fff;
    border: none;
    font-weight: 600;
    font-size: 1.25rem;
    cursor: pointer;
}


/* style start  */


/* navbar */

.logo-box {
    gap: 20px;
    align-items: center;
}

.nav-head {
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.navbar-section {
    justify-content: space-between;
    align-items: center;
    padding: 35px;
}

.logo {
    width: 86.041px;
    height: 40px;
}

nav li {}

.nav-option {
    align-items: center;
}

.ul-item {
    text-align: center;
    justify-content: center;

}

li a {
    color: var(--nav-text-color);
}

ul li {
    list-style: none;

}

.ul-item {
    gap: 30px;
}

.nav-ul {
    padding: 18px 0px;
    gap: 30px;
}

.folow {
    gap: 15px;
    padding: 18px 25px;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10);
}

.ytb,
.tktk {
    font-size: 25px;
}



/* hero-section */


.hero-box {
    justify-content: space-between;
}

.hero-section {
    background-image: url('../images/Group\ 14.png');
    background-repeat: no-repeat;
}

.hero {
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}

.hero-img {
    margin-top: 20px;
}


/* funny-videos-section */


.funny-videos-txt {
    flex-direction: column;
    align-items: center;
    margin-top: 120px;
}

.video-cards {
    justify-content: space-between;
}

.image-container {
    position: relative;
    display: inline-block;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 0.3s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}

.overlay:hover {
    opacity: 1;
}

.icon {
    color: #fff;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.overlay a {
    color: #FF42A5;
    font-size: 1.25rem;
}

.video {
    font-size: 45px;
}

.item-img {
    margin: 15px 0;
}


/* no-downloads-section */


.no-downloads-section {
    align-items: center;
    justify-content: space-between;
    margin-top: 120px;
}

.no-downloads-section-txt {
    text-align: end;
    width: 520px;
    position: relative;
    left: 0px;
}

.no-downloads-section-img {
    height: 800px;
}

.cat {
    position: relative;
    bottom: 250px;
    right: 160px;
}




/* games-section */


.games-section {
    background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);
    margin-top: 60px;
    border-radius: 40px;
}

.primary-games,
.secondary-games {
    justify-content: space-around;
    align-items: center;
}

.m-t{
    margin-top: 60px;
}

.secondary-games {
    justify-content: space-evenly;
}

.games-line-1 {
    align-items: center;
    gap: 15px;
    margin-bottom: 50px;
    background: #FFFFFF;
    border-radius: 50px;
    padding: 10px;
}

.games-line-1:hover{
    border: 1px solid #FF42A5;
    cursor: pointer;
    transition: opacity 0.3s;

}

.games-line-1 h4:hover{
    color: #FF42A5;
}